@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lora:wght@400;700&display=swap');


@theme {
  --font-family-sans: "var(--font-inter)", "sans-serif";
  --font-family-serif: "var(--font-lora)", "serif";
}


@layer base {
  body {
    @apply font-sans text-stone-800;
  }
}

@layer components {
  .paper {
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    padding: 2rem 2.5rem;
  }
}